<div class="p-5">
	<div class="d-flex justify-content-center" >
		<h1 mat-dialog-title [ngSwitch]="action">
			<strong *ngSwitchCase="'create'">Add Bookmark</strong>
			<strong *ngSwitchCase="'edit'">Edit {{local_data.name}}</strong>
			<strong *ngSwitchCase="'delete'">Delete {{local_data.name}}</strong>
		</h1>
	</div>

	<form class="d-flex flex-column" #bookmarkForm="ngForm" (ngSubmit)="onSubmit(bookmark, action)" novalidate>
		
		<div class="d-flex justify-content-center" mat-dialog-content>

			<div class="d-flex flex-column" *ngIf="action != 'delete'; else elseTemplate">
					<mat-form-field>
						<input matInput required type="text" placeholder="Name" [(ngModel)]="bookmark.name" name="name">
					</mat-form-field>
					<mat-form-field>
						<input matInput required type="url" placeholder="Url" [(ngModel)]="bookmark.url" name="url">
					</mat-form-field>
					<mat-form-field>
						<input matInput required type="text" placeholder="Group" [(ngModel)]="bookmark.group" name="group">
					</mat-form-field>
			</div>
			
			<ng-template #elseTemplate>
				Sure to delete?
			</ng-template>

		</div>

		<div class="d-flex justify-content-center" mat-dialog-actions >
			<button mat-raised-button color="accent" type="submit">{{action | titlecase }}</button>
			<!--<button mat-raised-button color="accent" (click)="doAction()">{{action | titlecase }}</button>-->
			<button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
		</div>
	</form>

</div>