:host {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	color: #333;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 8px 0;
}

p {
	margin: 0;
}

.nav{
	
	#linkedin-logo {
		height: 30px;
		margin: 0 16px;

		&:hover {
	
			opacity: 0.8;
		}
	}
	
	a{
		color: #fff;

		&:hover{
			text-decoration: underline;
		}
	}

}

footer {
	line-height: 20px; 
	
	a {
		display: flex;
		align-items: center;
	}
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

a:hover {
	color: #125699;
}