<table #mytable mat-table [dataSource]="dataSource" class="mat-elevation-z8 mx-auto mt-4" >
    
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let element"> <a href="{{element.url}}" target="_blank" rel="nofollow">Link</a> </td>
    </ng-container>
    
    <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.group}} </td>
    </ng-container>
    
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="accent" class="mr-3" (click)="edit(element)">Edit</button> <button mat-raised-button color="warn" (click)="delete(element)">Delete</button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>		

    <ng-container matColumnDef="groupHeader">
        <td colspan="999" mat-cell *matCellDef="let group">
            <strong>{{group.groupName | titlecase }}</strong>
        </td>
    </ng-container>

    <!-- Group line -->
    <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"></tr>
    
    <ng-container matColumnDef="noRecord">
        <td mat-footer-cell *matFooterCellDef>No records found.</td>
    </ng-container>

    <ng-template [ngIf]="dataSource.data.length == 0">
        <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
    </ng-template>
        
</table>

<h1 *ngIf="dataSource.data.length == 0">
    no rows available
</h1>