<h2 mat-dialog-title [ngSwitch]="action">
	<strong *ngSwitchCase="'create'">Add Bookmark</strong>
	<strong *ngSwitchCase="'edit'">Edit {{local_data.name}}</strong>
	<strong *ngSwitchCase="'delete'">Delete {{local_data.name}}</strong>
</h2>

<mat-dialog-content class="p-5">

	<form  #bookmarkForm="ngForm" autocomplete="off" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
		
		<div class="d-flex justify-content-center" mat-dialog-content>

			<div class="d-flex flex-column" *ngIf="action != 'delete'; else elseTemplate">
				<mat-form-field>
					<input matInput required type="text" placeholder="Name" [(ngModel)]="bookmark.name" name="name">
					<mat-error *ngIf="hasError('name', 'required') && (bookmarkForm.dirty)">Name is required</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput required type="url" placeholder="Url" [(ngModel)]="bookmark.url" name="url">
					<mat-error *ngIf="hasError('url', 'required') && (bookmarkForm.dirty)">Url is required</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput required type="text" placeholder="Group" [(ngModel)]="bookmark.group" name="group">
					<mat-error *ngIf="hasError('group', 'required')  && (bookmarkForm.dirty)">Group is required</mat-error>
				</mat-form-field>
			</div>
			
			<ng-template #elseTemplate>
				Sure to delete?
			</ng-template>

		</div>

		<div class="d-flex justify-content-center" mat-dialog-actions >
			<button mat-raised-button color="accent" type="submit" [disabled]="!bookmarkForm.valid" (click)="submitForm(bookmark, action)">{{action | titlecase }}</button>
			<button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
		</div>
	</form>
</mat-dialog-content>